{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark btg-dark-blue scrolling-navbar">
    <a class="navbar-brand" href="{% url 'index' %}">
        {# pb-2 aligns the image with the text, the nav bar does get expanded a tiny bit #}
        {# TODO new logo #}
        <img src="https://via.placeholder.com/75x24" class="pb-2" />
        <strong class="ml-2">
            Mortgage Insights
        </strong>
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav nav-flex-icons ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile-dropdown-link"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle"></i> Logged in as {{ request.user }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-dropdown-link">
                        <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">
                        <i class="fa fa-user-circle"></i> login
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>